<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap">
    <link rel="stylesheet" href="/css/error.css" th:href="@{/css/error.css}" type="text/css">
    <title>Page introuvable - Pay My Buddy</title>
</head>
<body>
<h1>Erreur 500</h1>
<p>Erreur interne. On va régler ça !</p>
</body>
</html>