/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

label {
    font-size: 14px; /* Taille de police réduite */
    font-weight: 600; /* Légèrement plus gras */
    color: #828282;
    user-select: none; /* Empêche la sélection du texte */
    margin-bottom: 8px; /* Espace entre le label et le champ */
}

.login-frame {
    box-sizing: border-box;
    width: 512px;
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 2px solid #E0E0E0;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.login-logo {
    height: 256px;
    margin: 16px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-field {
    font-size: 16px;
    color: #828282;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 8px 16px;
}

.input-field input {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    color: #828282;
}

.wrong-login {
    display: flex;
    align-items: center;
    background-color: #f8d7da;  /* Fond rouge clair pour l'erreur */
    border: 1px solid #f5c6cb;  /* Bordure rose clair */
    border-radius: 8px;
    padding: 12px;
    color: #6c1a1a;  /* Texte rouge foncé */
    font-size: 14px;
}

.wrong-login .icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    fill: #6c1a1a;  /* Icône rouge foncé */
}

.wrong-login p {
    margin: 0;
    font-weight: 500;
}

/* Icône pour le panonceau */
.wrong-login svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #721c24;
}

/* Buttons */
.btn {
    padding: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #207FEE;
}

.btn-primary:hover {
    background-color: #0066cc;
}

.btn-secondary {
    background-color: #F69F1D;
}

.btn-secondary:hover {
    background-color: #e68915;
}

.register-link {
    color: #207FEE;
    text-decoration: none;
}

.register-link:hover {
    color: #0066cc;
    text-decoration: underline;
}
