:root {
    --color-bg-main: #C6C3BF;
    --color-txt-main: #595959;
    --color-bg-form: #FFFFFF;
    --color-border-form: #E0E0E0;
    --color-focus-border: #0D57AB;
    --color-focus-shadow: rgba(32, 127, 238, 0.2);
    --color-btn: #0D57AB;
    --color-btn-hover: #0066CC;
    --color-btn-active: #005BBB;
    --color-err-bg: #F8D7DA;
    --color-err-border: #F5C6CB;
    --color-err-txt: #6C1A1A;
    --border-radius: 8px;
    --font-size-default: 14px;
    --box-shadow-default: 0 2px 4px rgba(0, 0, 0, 0.1);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-bg-main);
}

label {
    font-size: var(--font-size-default);
    font-weight: 600;
    color: var(--color-txt-main);
    user-select: none;
}

main {
    box-sizing: border-box;
    width: 512px;
    padding: 32px;
    background-color: var(--color-bg-form);
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border-form);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.logo {
    height: 256px;
    margin: 16px;
}

.form-register, .input-pair, .password-strength-criteria {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-field input:focus,
.input-pair input:focus {
    border-color: var(--color-focus-border);
    box-shadow: 0 0 0 3px var(--color-focus-shadow);
    background-color: #F0F8FF;
}

.error-notification {
    background-color: var(--color-err-bg);
    border: 1px solid var(--color-err-border);
    border-radius: var(--border-radius);
    padding: 12px;
    color: var(--color-err-txt);
    font-size: var(--font-size-default);
    display: flex;
    align-items: center;
    gap: 8px;
}

.error-notification .icon {
    width: 24px;
    height: 24px;
    fill: var(--color-err-txt);
}

.error-message {
    margin: 0;
    font-weight: 500;
}

.btn {
    padding: 16px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow-default);
    transition: background-color 0.3s, box-shadow 0.2s;
}

.btn-primary {
    background-color: var(--color-btn);
}

.btn-primary:hover {
    background-color: var(--color-btn-hover);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
    background-color: var(--color-btn-active);
    box-shadow: var(--box-shadow-default);
}

.register-link {
    font-weight: 600;
    color: var(--color-btn);
    text-decoration: none;
}

.register-link:hover {
    color: var(--color-btn-hover);
    text-decoration: underline;
}

.input-pair {
    display: inline;
    width: 320px;
    font-size: 16px;
    color: var(--color-txt-main);
    border: 1px solid var(--color-border-form);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-form);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 8px 16px;
}

.input-pair input {
    width: 100%;
    border: none;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-txt-main);
}

.input-pair input:not(:last-child) {
    border-bottom: 1px solid var(--color-border-form);
}

.input-pair input::placeholder {
    color: var(--color-txt-main);
    font-weight: 400;
}

.input-pair:hover {
    border-color: var(--color-focus-border);
}

.password-strength-criteria {
    position: absolute;
    top: 550px;
    right: -256px;
    width: 220px;
    padding: 8px;
    border: 1px solid var(--color-border-form);
    border-radius: var(--border-radius);
    background-color: #f9f9f9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: var(--font-size-default);
    color: var(--color-txt-main);
}

.password-strength-criteria ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.password-strength-criteria li {
    margin: -8px auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.password-strength-criteria .valid::before,
.password-strength-criteria .invalid::before {
    content: '•';
    font-size: 24px;
}

.password-strength-criteria .valid::before {
    color: green;
}

.password-strength-criteria .invalid::before {
    color: red;
}