<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion ‑ PayMyBuddy</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
</head>
<body>
<div class="login-page">
    <div class="login-frame"></div>

    <button class="btn btn-secondary">Pay My Buddy</button>

    <form th:action="@{/login}" th:object="${customer}" method="post">
        <div class="input-field">
            <input type="text" th:field="*{email}" placeholder="Mail">
        </div>
        <div class="input-field">
            <input type="password" th:field="*{password}" placeholder="Mot de passe">
        </div>

        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</div>
</body>
</html>