<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription − Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/register.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="register-page">
    <div class="register-frame"></div>

    <button class="btn btn-secondary">Pay My Buddy</button>

    <div class="input-field">
        <input type="text" placeholder="Username">
    </div>
    <div class="input-field">
        <input type="email" placeholder="Mail">
    </div>
    <div class="input-field">
        <input type="password" placeholder="Mot de passe">
    </div>

    <button class="btn btn-primary">S’inscrire</button>

    <div class="register-icon"></div>
</div>
</body>
</html>
