<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription − Pay My Buddy</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="register-page">
    <div class="register-frame"></div>

    <button class="btn btn-secondary">Pay My Buddy</button>

    <form th:action="@{/register}" th:object="${newCustomer}" method="post">
        <div class="input-field">
            <input type="text" th:field="*{username}" placeholder="Username">
        </div>
        <div class="input-field">
            <input type="email" th:field="*{email}" placeholder="Mail">
        </div>
        <div class="input-field">
            <input type="password" th:field="*{password}" placeholder="Mot de passe">
        </div>
        <button class="btn btn-primary" type="submit">S’inscrire</button>
    </form>

    <div class="register-icon"></div>
</div>
</body>
</html>
