<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction - PayMyBuddy</title>
    <link rel="stylesheet" href="/css/transfer.css" th:href="@{/css/transfer.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="transfer-page">
    <header class="header">
        <div class="logo">Pay My Buddy</div>
        <nav class="nav-items">
            <a href="transfer" class="nav-item active">Transférer</a>
            <a href="profile" class="nav-item">Profil</a>
            <a href="add" class="nav-item">Ajouter relation</a>
            <a href="logout" class="nav-item">Se déconnecter</a>
        </nav>
    </header>

    <form class="transfer-form">
        <div class="dropdown">
            <select name="buddyUsername">
                <option value="" disabled selected>Sélectionner une relation</option>
                <option th:each="buddy : ${buddies}"
                        th:value="${buddy.username}"
                        th:text="${buddy.username}">
                </option>
            </select>
        </div>
        <div class="input-field">
            <input type="number" name="amount" placeholder="Montant" step="0.01" min="0" required>
        </div>
        <button type="submit" class="btn-transfer">Payer</button>
    </form>


    <section class="transfer-history">
        <table class="transfer-table">
            <thead class="table-header">
            <tr>
                <th>Date</th>
                <th>Destinataire</th>
                <th>Montant</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr class="table-row" th:each="transfer : ${transfers}">
                <td class="table-cell" th:text="${transfer.getReceiver().getUsername()}"></td>
                <td class="table-cell" th:text="${#numbers.formatDecimal(transfer.amount, 1, 2)} + ' €'"></td>
                <td class="table-cell" th:text="${transfer.description}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>
