<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap">
    <link rel="stylesheet" href="/css/transfer.css" th:href="@{/css/transfer.css}" type="text/css">
    <title>Transférer - Pay My Buddy</title>
</head>
<body>
<main class="transfer-page">
    <header class="header">
        <img src="/images/logo-pmb-side.svg" alt="Pay My Buddy" class="logo" aria-label="Logo de Pay My Buddy">
        <nav class="nav-items">
            <a th:href="@{/transfer}" class="nav-item active">Transférer</a>
            <a th:href="@{/add}" class="nav-item">Ajouter un contact</a>
            <a th:href="@{/profile}" class="nav-item">Profil</a>
            <a th:href="@{/logout}" class="nav-item">Se déconnecter</a>
        </nav>
    </header>
    <form class="transfer-form" th:action="@{/transfer}" th:object="${newTransfer}" method="post">
        <div class="dropdown">
            <label for="receiver">Destinataire</label>
            <select id="receiver" th:field="*{receiverUsername}" required>
                <option th:each="buddy : ${buddies}"
                        th:value="${buddy.username}"
                        th:text="${buddy.username}">
                </option>
            </select>
        </div>
        <div class="input-field">
            <label for="amount">Montant</label>
            <input id="amount" type="number" th:field="*{amount}" placeholder="Montant" step="0.01" min="0" required>
        </div>
        <div class="input-field">
            <label for="description">Description</label>
            <input id="description" type="text" th:field="*{description}" placeholder="Description">
        </div>
        <button type="submit" class="btn-transfer">Payer</button>
    </form>
    <section class="transfer-history">
        <table class="transfer-table">
            <thead>
            <tr class="table-header">
                <th>Date</th>
                <th>Destinataire</th>
                <th>Montant</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr class="table-row" th:each="transfer : ${transfers}">
                <td class="table-cell" th:text="${#dates.format(transfer.timestamp, 'dd/MM/yyyy')}"></td>
                <td class="table-cell" th:text="${transfer.getReceiver().getUsername()}"></td>
                <td class="table-cell" th:text="${#numbers.formatDecimal(transfer.amount, 1, 2)} + ' €'"></td>
                <td class="table-cell" th:text="${transfer.description}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
