<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction - PayMyBuddy</title>
    <link rel="stylesheet" th:href="@{/css/transfer.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="transfer-page">
    <header class="header">
        <div class="logo">Pay My Buddy</div>
        <nav class="nav-items">
            <a href="transfer" class="nav-item active">Transférer</a>
            <a href="profile" class="nav-item">Profil</a>
            <a href="search" class="nav-item">Ajouter relation</a>
            <a href="logout" class="nav-item">Se déconnecter</a>
        </nav>
    </header>

    <form class="transfer-form">
        <div class="dropdown">
            <select>
                <option value="" disabled selected>Sélectionner une relation</option>
                <option value="laure-anne">Laure-Anne</option>
                <option value="clara">Clara</option>
                <option value="luc">Luc</option>
            </select>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Montant">
        </div>
        <button type="submit" class="btn-transfer">Payer</button>
    </form>

<!--    <div class="transfer-table">-->
<!--        <div class="table-header">-->
<!--            <span>Relations</span>-->
<!--            <span>Description</span>-->
<!--            <span>Montant</span>-->
<!--        </div>-->
<!--        <div class="table-body">-->
<!--            <div class="table-row">-->
<!--                <span class="table-cell">Laure-Anne</span>-->
<!--                <span class="table-cell">Restaurant</span>-->
<!--                <span class="table-cell">10€</span>-->
<!--            </div>-->
<!--            <div class="table-row">-->
<!--                <span class="table-cell">Clara</span>-->
<!--                <span class="table-cell">Voyage</span>-->
<!--                <span class="table-cell">25€</span>-->
<!--            </div>-->
<!--            <div class="table-row">-->
<!--                <span class="table-cell">Luc</span>-->
<!--                <span class="table-cell">Billets de cinéma</span>-->
<!--                <span class="table-cell">8€</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <section class="transfer-history">
        <table class="transfer-table">
            <thead class="table-header">
            <tr>
                <th>Date</th>
                <th>Destinataire</th>
                <th>Montant</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody class="table-body">
            <tr class="table-row" th:each="transfer : ${transfers}">
                <td class="table-cell" th:text="${transfer.getReceiver().getUsername()}"></td>
                <td class="table-cell" th:text="${#numbers.formatDecimal(transfer.amount, 1, 2)} + ' €'"></td>
                <td class="table-cell" th:text="${transfer.description}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>
